<h1 align="center">Welcome to the Finance Tracker</h1>

<div align = "center" class="row">
  <div class="col-md-4 home-padding">

      <%= link_to 'My Portfolio', my_portfolio_path, class: "btn btn-xl btn-success" %>

  </div>
  <div class="col-md-4 home-padding">

      <%= link_to 'My profile', edit_registration_path(current_user), class: "btn btn-xl btn-warning" %>

  </div>
  <div class="col-md-4 home-padding">

      <%= link_to 'My Portfolio', my_portfolio_path, class: "btn btn-xl btn-info" %>

  </div>
  <br>
</div>